# Environment & secrets
.env
*.env

# Python cache
__pycache__/
*.py[cod]

# Logs & databases
*.log
*.tmp
*.sqlite
*.db

# Virtual environments
.venv/
venv/
env/

# OS-specific
.DS_Store
Thumbs.db

# Local datasets / embeddings
**/chroma_legal_database/
*.npy
*.pt

# Deployment
**/certbot/
**/nginx/
.dockerignore
